<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai.min.css"
/>
<style>
  pre {
    margin: 5px 0;
  }
</style>

<body>
  <h1><%= @post.title %></h1>
  <div class=post>
    <%= markdown_to_html(@post.body)%>
  </div>
  <script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script charset="utf-8">
    hljs.initHighlightingOnLoad()
  </script>
</body>
